
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato&family=Mochiy+Pop+P+One&family=Open+Sans&family=Playfair+Display&family=Poppins&family=Roboto+Mono&family=Roboto+Slab:wght@300&family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Agbalumo;
    color: white;
}

.main-container{
    background-image: url('./image/istockphoto-182794428-1024x1024.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}


.container{
    width: 90%;
    height: 90vh;
    background-color: rgba(70, 129, 59, 0.9);
    /* background-image: url('./image/istockphoto-1402635831-1024x1024\ \(1\).jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    border: 1px solid rgb(245, 243, 243, 0.5);
    /* box-shadow: 2px 2px 2px 2px black; */

}



.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-inline: 80px;
}


.link ul{
    display: flex;

}



.link ul li{
    list-style: none;
    padding-right: 30px;
}



.section-part{
    /* width: 20%; */
    margin: 80px;

}

.section-part h1{
    font-size: 35px;
}
.section-part p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    margin-top: 30px;
}


.section-part button{
    color: rgb(87, 175, 87);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    margin-top: 30px;
}



.image{
    position: absolute;
    bottom: 0px;
    right: 0px;
    /* transform: rotate(90deg); */

}






@media (max-width:768px) {



    .link{
        display: none;
    }

    .image{
        display: none;
    }
    
}